<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <ul class="nav side-menu">
            <li>
                <a href="index"><i class="fa fa-home"></i> 首页 </a>
            </li>
        </ul>
        <ul class="nav side-menu">
            <li><a><i class="fa fa-edit"></i> 公司 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="platform">查看全部</a></li>
                    <li><a href="platform_add">新增</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav side-menu">
            <li><a><i class="fa fa-edit"></i> 岗位 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="post">查看全部</a></li>
                    <li><a href="post_add">新增</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav side-menu">
            <li><a><i class="fa fa-edit"></i> 招聘会 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="meeting">查看全部</a></li>
                    <li><a href="meeting_add">新增</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav side-menu">
            <li><a><i class="fa fa-edit"></i> 人才 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="human">查看全部</a></li>
                    <!--<li><a href="human_add">新增</a></li>-->
                </ul>
            </li>
        </ul>
        <ul class="nav side-menu">
            <li><a><i class="fa fa-edit"></i> 面试 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="interview">面试记录</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="menu_section">
        <h3>系统管理</h3>
        <ul class="nav side-menu">
            <li><a ><i class="fa fa-sitemap"></i> 账号设置 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="account_add">新增账号</a></li>
                    <li><a href="account">查看全部</a></li>
                </ul>
            </li>
            <li><a href="logout"><i class="fa fa-laptop"></i> 退出系统 </a></li>
        </ul>
    </div>
</div>
