<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <!-- nav-title -->
        {include file="/public_home/nav-title"}
        <!-- /nav-title -->

        <!-- menu profile quick info -->
        {include file="/public_home/menu-quick-info"}
        <!-- /menu profile quick info -->

        <!-- sidebar menu -->
        {include file="/public_home/slider-menu"}
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        {include file="/public_home/menu-footer"}
        <!-- /menu footer buttons -->
    </div>
</div>

