<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>校园招聘会</h3>
        <ul class="nav side-menu">
            <li><a href="meeting.html">正在进行的招聘会</a></li>
            <!--<li><a><i class="fa fa-edit"></i>  往年招聘会 <span class="fa fa-chevron-down"></span></a>-->
                <!--<ul class="nav child_menu">-->
                    <!--<li><a href="page_404.html">2016春季招聘会</a></li>-->
                    <!--<li><a href="page_404.html">2016秋季招聘会</a></li>-->
                    <!--<li><a href="page_404.html">2015春季招聘会</a></li>-->
                    <!--<li><a href="page_404.html">2015秋季招聘会</a></li>-->
                <!--</ul>-->
            <!--</li>-->
        </ul>
    </div>
</div>
<!-- /sidebar menu -->